body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
  background-color: #A8E6CF;
  color: #FF6B6B;
  font-size: 18px;
  font-weight: bold;
}

a, a:link {
  text-decoration: underline;
  color: #FF6B6B !important;
}

.wrapper {
  max-width: 60ch;
  margin: 4rem auto;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: justify;
}

.menu-items {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.4rem;
  margin-bottom: 2rem;
  align-items: center;
}

.socials {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

.socials img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  font-style: italic;
}
