<style>
    canvas {
      image-rendering: pixelated !important;
      display: block !important;
    }
    body {
        background-color: none !important;
    }
</style>
<script src="wasm_exec.js"></script>
<script>
  const go = new Go();
  WebAssembly.instantiateStreaming(
    fetch("gochip.wasm"),
    go.importObject
  ).then(result => {
    go.run(result.instance);
  });
</script>
